<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select</title>
    <link rel="stylesheet" href="/static/css/select.css">
</head>
<body>
    <div class="main">
        <!--导航条-->
     <div class="navigation">

            <img class="img1" src="/static/img/logo.JPG" alt="">
            <b>定位:</b>
            <a href="#">成都</a>
            <input type="text" >
         <a class='navi_select'>查找</a>
     </div>
        <div class="filter">
            <p class="p_tj">条件筛选</p>
            <hr>
            <hr id="hr_2">
            <div id="select_form">
              <form action="#">
               <p>
                  位置区域:
                   <a href="#">武侯区</a>
                   <a href="#">高新区</a>
                   <a href="#">双流区</a>
                   <a href="#">金牛区</a>
                   <a href="#">锦江区</a>
                   <a href="#">青羊区</a>
                   <a href="#">青白江区</a>
                   <a href="#">成华区</a>
                   <a href="#">温江区</a>

               </p>
                <p>
                   面积:
                    <a href="#">130平方</a>
                    <a href="#">110平方</a>
                    <a href="#">90平方</a>
                    <a href="#">50平方</a>
                </p>
                <p>
                    户型:
                    <a href="#">四室er厅</a>
                    <a href="#">三室一厅</a>
                    <a href="#">二室一厅</a>
                    <a href="#">一室一厅</a>
                </p>
                <p>
                    价格范围:
                    <a href="#">500-800元/月</a>
                    <a href="#">800-1200元/月</a>
                    <a href="#">1200-1500元/月</a>
                    <a href="#">1500元/月以上</a>
                </p>
                <p>
                    其他条件:
                    <a href="#">空调</a>
                    <a href="#">免物业费</a>
                    <a href="#">交通方便</a>
                </p>

              </form>
            </div>
            <hr id="hr_3">
            <div id="filter_title">
               <a id="title_sort" href="#">默认排序</a>
                <a class="title_gather" href="#">价格</a>
                <a class="title_gather" href="#">面积</a>
                <a class="title_gather" href="#">最新发布</a>
                <span id="title_last" href="#">共找到
                    <a href="#">2</a>
                    套房源
                </span>
            </div>
            <hr id="hr_4">
        </div>
     <div class="content">
         <div class="content_dis">
             <div class="content_img">
                 <img src="/static/img/display1.jpg" alt="">
             </div>
             <div class="content_infor">
                <p>
                    房源名称:&nbsp&nbsp<a href="#">孵化园地铁口三室一厅房间</a>
               </p>
                <p>
                    发布日期:&nbsp<u>2018-11-1</u>,地址:&nbsp<u>孵化园地铁c口200米</u>
                </p>
                <p>
                    户型:&nbsp&nbsp<a href="#">三室一厅</a>
                </p>
                 <p>
                    面积:&nbsp<u>110平方米</u>,装修:&nbsp<u>精装</u>
                 </p>
                <p>
                    其他备注:&nbsp&nbsp有空调,家电齐全,免物业费
                </p>
             </div>

             <div class="content_total">
                 总价
             </div>
         </div>
        <hr id="hr_5">
         <div class="content_dis">
             <div class="content_img">
                 <img src="/static/img/display2.jpg" alt="">
             </div>
             <div>
                <p>
                    房源名称:&nbsp&nbsp<a href="#">孵化园地铁口三室一厅房间</a>
               </p>
                <p>
                    发布日期:&nbsp<u>2018-11-1</u>,地址:&nbsp<u>孵化园地铁c口200米</u>
                </p>
                <p>
                    户型:&nbsp&nbsp<a href="#">三室一厅</a>
                </p>
                 <p>
                    面积:&nbsp<u>110平方米</u>,装修:&nbsp<u>精装</u>
                 </p>
                <p>
                    其他备注:&nbsp&nbsp有空调,家电齐全,免物业费
                </p>
             </div>

             <div class="content_total">
                 总价
             </div>
         </div>
     </div>
        <div id="finall">
            <img src="/static/img/erweima.jpg" alt="">
        </div>
    </div>
</body>
</html>